/*
*Stylesheet for client Fixin To Buy website hosted on GoDaddy
*Author: John Marlett
* line 8 - 72 init settings + wrapper 
* line 73 > content settings
*
*theme color palette TBD
* Asphalt: #44495E, #2B2F3F
*Grey: #94929F
*Offwhite: #E4E3EC
*Red : #9D1416, #A8280E
* 
*/

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  display: block; }

html{
  background: url(/css/images/lake-austin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px; }

button:focus{
    outline:none; }
    
a {
    color:#000000; }

a:hover {
    color:#CEE8E8; }

img {
    object-fit:contain;
    width:100%; }

section { height:auto; }
  
body {
    height:100%;
    font-family:  'Times New Roman', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent; }

main {
    height: 100%;
    margin: 13em 0 5em 0;
    background-color: transparent; }

a {
    text-decoration: none; }
    
.wrapper {
    z-index: 500;
    background: linear-gradient(to right, rgba(95,97,97, 1), rgba(95,97,97, 0.80));
    height: auto;
    padding: 1em 0 0 0;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    display:-webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
   
#branding {
    margin-bottom: 0.5em;
    width:100%;
    font-size: 1.1em;
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

#branding > h1, #branding > div, #branding > ul{
    font-weight: 900;
    color:#e9ece5; }
    
#branding > h1 {
    width: 80%;
    margin: 0 0 0 0.5em;
    text-align: center; }
    
#branding > div{
    width:80%;
    margin: 0.5 0 0 0;
    border-top: solid 1px #e9ece5;
    text-align:center; }

#branding > ul {
    margin:auto; } 
    
#branding > ul > a  {
    padding: 0.35em 1em;
    font-size: 1.4em;
    margin-top: 0.25em;
    text-transform: uppercase;
    border: 1px solid #e9ece5;
    color: #e9ece5;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    }
    #branding > ul > a:hover {
        background: #e9ece5;
        color:  rgba(95,97,97, 0.80); }

/*end of wrapper header bar content*/

#resources {
    margin: 1em 0;
    padding: 1em 0.5em;
    background-color: rgba(233,236,229, .9);
    background-color: rgba(89,134,97, .9) }

#resources > h1 {
    margin: 0 2em;
    text-align: center;
    padding: 0 0 0.5em 0;
    /*color:#5F6161;*/
    color:#e9ece5;
    /*border-top: 1px solid #3b3a36;*/
    font-size: 1.5em;
    font-weight: 600;
    font-style:italic; }
    
#banner{
    width:100%;
    padding: 0.25em 0;
    color: #e9ece5;
    /*background-color: #6E8490;*/
    align-self: flex-end;
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content:space-around; }
    
#banner > p {
    margin: auto;
    padding: 0.5em 0;
    /*background: rgba(95,97,97,0.5);*/
    /*background: linear-gradient(to right, rgba(95,97,97,0.5), rgba(95,97,97, 0.25));*/
    color: #e9ece5;
    border-top: 1px solid #e9ece5;
    font-size: 1.2em;
    font-weight: 800; }

.image-wrapper {
    width: 100%;
    position:relative; }
    
.container {
    margin: 0.25em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start; }

.space-box {
    margin: 0.25em 0;
    width: 98%;
    height: 30em;
    background: linear-gradient(to bottom, rgba(110,132,144, 1), rgba(110,132,144,0.75));
    background: -o-linear-gradient(to bottom, rgba(110,132,144, 1), rgba(110,132,144,0.75));
    background: linear-gradient (to bottom, rgba(110,132,144, 1), rgba(110,132,144,0.75));
    padding: 1% 1%;
    color: #e9ece5; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch; }

.space-box > h2 {
    margin: 0.5rem 0 1rem 0;
    padding: 0 0 0.5em 0;
    border-bottom: solid 2px #e9ece5;
    font-size: 2em;
    font-weight: 600;
    font-style:italic;
    text-align: center;
    align-self:center; }

.space-box > footer {
    margin-top: auto;
    width: 90%; 
    border-bottom: 1px solid #e9ece5;
    align-self: center; }

.space-box > ul {
     display: flex;
     flex-flow: column wrap;
     justify-content:space-around;
    list-style-position: outside;
     list-style-type: circle; }

.space-box > ul > li  {
    display: list-item;
    margin: 0.5em 0 0.5em 1em;
    font-size: 1.75em; }

.icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.1em; }

#credit{
    margin-right:1em;
    float:right; }
    
#credit > a {
    color: #e9ece5; }
    #credit > a:hover {
       border-bottom: 1px solid #e9ece5; }
    
.site-footer {
    background: linear-gradient(to right, rgba(95,97,97, 1), rgba(95,97,97, 0.80));
    background: -o-linear-gradient(to right, rgba(95,97,97, 1), rgba(95,97,97, 0.80));
    background: linear-gradient (to right, rgba(95,97,97, 1), rgba(95,97,97, 0.80));
    color:#e9ece5;
    height: auto;
    margin: auto;
    padding: 1em 0;
    width: 100%;
    display:-webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.3em; }

/*styling specific for contact page*/

form {
    margin: auto;
    height:auto;
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; 
    font-size: 1.5em; }

.form-group {
    width: 90%;
    margin: auto;
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }

label {
    width: 100%; }

input {
    border-radius: 0.25em;
    font-size: 1em;
    height: 3em;
    width: 100%; }

button {
    padding: 0.25em;
    margin: 1em auto;
    width: 7em;
    height: 3.5em;
    font-size: 1em;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #e9ece5;
    color: #e9ece5;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out; }
    button:hover {
        border: 1px solid #2A2C2C;
        color: #2A2C2C;     }

@media (min-width: 880px) {
  body { font-size: 95%; }
  
main {
    margin: 7em 0 5em 0; }

#branding {
      flex-direction: row;}

#branding > h1 {
    width: auto;
    margin: 0 0 0 0.5em;
    padding-right: 0.5em; }
    
#branding > div{
    width:auto;
    margin: 0.5 0 0 0;
    padding-left: 0.5em;
    text-align:left;
    border-top: none;
    border-left: solid 1px #e9ece5; }

#branding > ul {
    margin-left:auto;
    margin-right: 1em; }
    
#resources {
    margin: 1em 3em;
    padding: 1em 0.5em; }
    
#resources > h1 {
        font-size: 2em; }
    
#banner > p {
        font-size: 1.5em; }
   
.space-box {
    margin:1em auto;
    width: 22em; }

.container {
        margin: 2em;
        padding: 1em 0.5em;
        flex-direction: row; }
    
    
    #banner {
    flex-direction: row; } }

@media (min-width: 1200px) {
  body { font-size: 100%; }
}
